@model NorthPoleGiftSystem.Models.Elf.ElfUpdate

@{
    string title = "Edit " + Model.ElfName;
    ViewData["Title"] = title;
}

<style>
    h1,
    label,
    input,
    .text-danger,
    .btn,
    a {
        font-family: 'Comic Sans MS', sans-serif;
        color: white;
    }

    .btn-primary {
        background-color: #007bff;
        color: white;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }

    a {
        color: red;
    }
</style>

<h1>@title</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div class="form-group">
                <label asp-for="ElfID" class="control-label"></label>
                <input asp-for="ElfID" hidden />
            </div>
            <div class="form-group">
                <label asp-for="ElfName" class="control-label"></label>
                <input asp-for="ElfName" class="form-control" />
                <span asp-validation-for="ElfName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ElfRole" class="control-label"></label>
                <input asp-for="ElfRole" class="form-control" />
                <span asp-validation-for="ElfRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkshopID" class="control-label"></label>
                <input asp-for="WorkshopID" class="form-control" />
                <span asp-validation-for="WorkshopID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-controller="Elf" asp-action="Index">Back To List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
