@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyjllC/WOO1FJHVhPGkDf1zxfu7I2tY" crossorigin="anonymous">
    <style>
        .content {
            text-align: center;
            margin-top: 300px;
        }

        .display-4 {
            font-size: 3rem;
            font-weight: bold;
            margin-bottom: 20px;
            background-color: red;
        }
    </style>
</head>

</html>
