@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    body,
    h1,
    p {
        font-family: 'Comic Sans MS', sans-serif;
    }
</style>

<h1>@ViewData["Title"]</h1>

<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, magni deleniti modi quaerat consequatur molestias
    facilis quibusdam omnis obcaecati animi atque eligendi qui, sapiente eius mollitia voluptates soluta nobis voluptas?
</p>
