@model NorthPoleGiftSystem.Models.WorkshopModel.WorkshopCreate

@{
    ViewData["Title"] = "Create Workshop";
}

<style>
    h1,
    hr,
    form,
    label,
    input,
    span,
    div,
    a,
    button {
        font-family: 'Comic Sans MS', sans-serif;
        color: white;
    }

    .btn-primary {
        background-color: #007bff;
        color: white;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }
</style>

<h1>Create Workshop</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkshopCapacity" class="control-label"></label>
                <input asp-for="WorkshopCapacity" class="form-control" />
                <span asp-validation-for="WorkshopCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupervisorID" class="control-label"></label>
                <input asp-for="SupervisorID" class="form-control" />
                <span asp-validation-for="SupervisorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkshopID" class="control-label"></label>
                <input asp-for="WorkshopID" class="form-control" />
                <span asp-validation-for="WorkshopID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <a asp-action="Index" class="btn btn-default">Back To List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
